APP_NAME=Eleven
ENV=development

POSTGRES_USER=eleven
POSTGRES_PASSWORD=eleven
POSTGRES_DB=eleven
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AUTH0_DOMAIN=your-tenant.auth0.com
AUTH0_AUDIENCE=https://api.eleven.app
AUTH0_ALGORITHMS=RS256
